#btm-netlist {
  margin-top: -1em;
  max-width: 1.5em;
}

.card-body {
  max-height: 15em!important;
}

.active.pll {
  background: rgba(255, 255, 0, 1.0)!important;
  color: #66008c!important;
}

.pll {
  background: #66008c!important;
  color: rgba(255, 255, 0, 1.0)!important;
}

#logo {
  margin-left: 2em;
}

#cpright {
  font-size: 0.5em;
}

#dnkFoot {
  align-self: center;
}

#desBy {
  text-align: center;
  margin: auto;
}

#footerCon {
  max-height: 6.5em;
  padding-top: 0 !important;
}

#contFoot {
  margin: 0;
  /*padding-top: 0!important;*/
}

.adPill {
  border-radius: 1.5em;
}

@media (min-width:35.5em) {
  #btm-netlist {
    margin-right: 1.3em;
    padding-right: 3em;
    margin-top: 0em;
    max-width: 12em;
    max-height: 1.5em;
  }
}

@media (min-width:35.5em) {
  .card-body {
    max-height: 50em;
  }
}

@media (min-width:35.5em) {
  #footerCon {
    max-height: 5em;
    padding-top: 0 !important;
  }
}

@media (min-width:35.5em) {
  #cpright {
    font-size: 0.7em;
  }
}

@media (min-width:50 em) {
  #cpright {
    font-size: 1em;
  }
}

.card-body {
  cursor: pointer;
  aspect-ratio: 3 / 2!important;
}

.toYellow:hover {
  -webkit-animation: toY 0.5s forwards;
  animation: toY 0.5s forwards;
}

@keyframes toY {
  from {
    background-color: #66008c color: rgba(255, 255, 0, 1.0);
  }
  to {
    background-color: rgba(255, 255, 0, 1.0);
    color: #66008c;
  }
}

.toViolet {
  border-radius: 1em;
}

.toViolet:hover {
  /*background-color: rgba(66, 24, 83, 1.0)!important;*/
  /*color: rgba(255, 255, 0, 1.0)!important;*/
  -webkit-animation: toV 0.5s forwards;
  animation: toV 0.5s forwards;
}

@keyframes toV {
  from {
    background-color: rgba(255, 255, 0, 1.0);
    color: rgba(66, 24, 83, 1.0);
  }
  to {
    background-color: rgba(66, 24, 83, 1.0);
    color: rgba(255, 255, 0, 1.0);
  }
}

.navbar-toggler {
  color: rgba(66,24,83,0.7);
  background-color: rgba(66,24,83,0.5);
}

.rounded-pill {
  border-radius: 5em!important;
}

.navbar-collapse {
  text-align: center;
}

.topSN {
  margin: auto;
  max-width: 9em;
  box-shadow: none!important;
}

.topIcoSN {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.sqrImg {
  aspect-ratio: 1 / 1!important;
}

.deployNav {
  border-radius: 1.2em!important;
}

.btnOr:hover {
  cursor: pointer;
}

.overAll {
  position: absolute;
  top: 300px;
  width: 300px;
  height: 260px;
  left: 50%;
  z-index: 1000;
  margin-left: -150px;
  display: none;
}

.zbackground {
  background: #000;
  opacity: 0.5;
  position: fixed: width:100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.oLink:hover {
  cursor: pointer;
  background-color: rgba(66, 24, 83, 1.0)!important;
  color: rgba(255, 255, 0, 1.0)!important;
  border-radius: 10px;
}

.nav-link {
  background: #ffff00;
  color: #662483;
}

#checkIt {
  background: rgba(66,24,83,0.5)!important;
}

.modal-content {
  background: #ffff00!important;
  color: #662483!important;
}

.modal- .btn-primary {
  background: #ffff00;
}

.btn-secondary {
  background: #662483!important;
  color: #ffff00!important;
}

.whaBtn {
  background: #4fce5d!important;
  color: #ffffff!important;
  border-color: #ffffff!important;
  border-width: 5px;
}

.contMod {
  margin: auto;
}

.grayDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  align-items: stretch;
  background: rgba(146,146,146,0.7);
  border-radius: 1em;
  margin: inherit;
  padding: inherit;
}

.hideOut {
  display: none;
}

.csBanner {
  max-width: 100%;
  max-height: 100%;
  opacity: 80%;
  border-radius: 1em;
}

.ejemplo:hover {
  cursor: pointer;
  -webkit-animation: standUp 0.5s forwards;
  animation: standUp 0.5s forwards;
}

@keyframes standUp {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1em;
  }
}

